In [1]:
pip install chefboost

Requirement already satisfied: chefboost in c:\users\anni sharleena\anaconda3\lib\site-packages (0.0.17)Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: pandas>=0.22.0 in c:\users\anni sharleena\anaconda3\lib\site-packages (from chefboost) (1.3.4)
Requirement already satisfied: tqdm>=4.30.0 in c:\users\anni sharleena\anaconda3\lib\site-packages (from chefboost) (4.62.3)
Requirement already satisfied: psutil>=5.4.3 in c:\users\anni sharleena\anaconda3\lib\site-packages (from chefboost) (5.8.0)
Requirement already satisfied: numpy>=1.14.0 in c:\users\anni sharleena\anaconda3\lib\site-packages (from chefboost) (1.20.3)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\anni sharleena\anaconda3\lib\site-packages (from pandas>=0.22.0->chefboost) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in c:\users\anni sharleena\anaconda3\lib\site-packages (from pandas>=0.22.0->chefboost) (2021.3)
Requirement already satisfied: six>=1.5 in c:\users\anni sharleena\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas>=0.22.0->chefboost) (1.16.0)
Requirement already satisfied: colorama in c:\users\anni sharleena\anaconda3\lib\site-packages (from tqdm>=4.30.0->chefboost) (0.4.4)

In [2]:
from chefboost import Chefboost as chef

In [3]:
import pandas as pd

df = pd.read_csv("buy_mobile.txt")

In [4]:
df

   Age  Income Region Credit_rating Buy_Mobile
0   18    high    USA           Low         no
1   15    high    USA          High         no
2   24    high    USA           Low        yes
3   56  medium    USA           Low        yes
4   60     low     UK           Low        yes
5   72     low     UK          High         no
6   35     low     UK          High        yes
7   19  medium    USA           Low         no
8   10     low     UK           Low        yes
9   50  medium     UK           Low        yes

In [5]:
config = {'algorithm': 'C4.5'}
model = chef.fit(df, config = config, target_label = 'Buy_Mobile')

[INFO]:  4 CPU cores will be allocated in parallel running
C4.5  tree is going to be built...
-------------------------
finished in  3.1308398246765137  seconds
-------------------------
Evaluate  train set
-------------------------
Accuracy:  80.0 % on  10  instances
Labels:  ['no' 'yes']
Confusion matrix:  [[3, 1], [1, 5]]
Precision:  75.0 %, Recall:  75.0 %, F1:  75.0 %

In [6]:
df

   Age  Income Region Credit_rating Buy_Mobile
0   18    high    USA           Low         no
1   15    high    USA          High         no
2   24    high    USA           Low        yes
3   56  medium    USA           Low        yes
4   60     low     UK           Low        yes
5   72     low     UK          High         no
6   35     low     UK          High        yes
7   19  medium    USA           Low         no
8   10     low     UK           Low        yes
9   50  medium     UK           Low        yes

In [7]:
prediction = chef.predict(model, [72,'low','UK','High','No'])

In [8]:
prediction

'no'

In [9]:
prediction = chef.predict(model, [10,'low','UK','Low','yes'])

In [10]:
prediction

'yes'